.App {
  text-align: center;
  height: 100vh;
  /* Ensure the app fills the full height of the viewport */
  display: flex;
  flex-direction: column;
  /* Stack header and any other elements vertically */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  /* Use Flexbox */
  flex-direction: row;
  /* Arrange children side by side */
  justify-content: center;
  /* Center children horizontally */
  align-items: start;
  /* Align items to the start of the flex container */
  height: 100%;
  /* Take up all available space */
  width: 100%;
  /* Ensure the header fills the full width */
  font-size: calc(2px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.VehicleList{
  flex: 1; /* Allow both components to grow equally */
  height: 100%; /* Optional: If you want each component to fill the available vertical space */
  padding: 100px;
}

.Monitor {
  flex: 1;
  /* Allow both components to grow equally */
  height: 100%;
  /* Optional: If you want each component to fill the available vertical space */
  padding: 100px;

  margin-top: 100px;
}

/* Base styling for all arrow markers */
.leaflet-arrowhead-marker {
  border: solid black;
  display: inline-block;
  padding: 1px;
  transform: rotate(-135deg);
}

.arrowhead-rank-0 {
  border-bottom: 3px solid black;
}

/* You can continue for more ranks or use a default style */
.arrowhead-default {
  border-bottom: 8px solid gray;
  /* Default color if rank is beyond defined styles */
}

.my-button {
  background-color: #3691bc;
  /* Green background */
  border: none;
  /* No borders */
  color: white;
  /* White text */
  padding: 12px 24px;
  /* Top and bottom padding, left and right padding */
  text-align: center;
  /* Centered text */
  text-decoration: none;
  /* No underline */
  display: inline-block;
  /* Allows setting dimensions */
  font-size: 16px;
  /* Text size */
  margin: 20px 2px;
  /* Margin around the button */
  cursor: pointer;
  /* Mouse cursor changes to pointer to indicate it's clickable */
  border-radius: 8px;
  /* Rounded corners */
  transition-duration: 0.4s;
  /* Transition effect when hovering */
}

.my-button:hover {
  background-color: #1a5671;
  /* Darker shade of green when hovering */
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  /* Adds shadow for 3D effect */
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #1a5671;
}

tr:nth-child(even) {
  background-color: #1a5671;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
